body {
    color: white;
    display: flex;
}

h1,
h2 {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .create-container {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .create-container {
        padding: 0 3rem;
    }
}

.create-container {
    flex: 80%;
    height: 100vh;
    background: linear-gradient( #A5A4CB 10%, #8989BB 20%, rgba(31, 31, 31, 1) 80%);
}

.create-title {
    margin: 2rem 0;
}

.form-container-input {
    display: flex;
    flex: 1;
}

.form-input-data {
    flex: 1;
    width: 80%;
}

.form-input-img>p {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    margin: 2% 20px
}

.form-label {
    flex: 20%;
}

.form-input {
    flex: 80%;
    height: 30px;
    border-radius: 6px;
    padding: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: 0.2s all;
    border: 2px solid #BCBCBC;
}

.form-input:focus {
    border: 2px solid #5E5E5E;
}

.form-input-img {
    text-align: center;
    width: 20%;
}

.input-img {
    background-color: transparent;
    color: white;
    text-align-last: center;
    width: 100%;
}

.input-audio {
    background-color: white;
    color: black;
}

#img-preview {
    object-fit: cover;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.button {
    text-align: center;
}

#create-btn {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #9D9D9D;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.6s all;
    margin: 10px 0;
    padding: 12px 40px;
}

#create-btn:hover {
    background-color: #DCDCDC;
    color: #5E5E5E;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 12px 40px;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    transition: opacity 0.6s;
    display: none;
}

.alert.error {
    background-color: #f44336;
}

.alert.success {
    background-color: #4CAF50;
}

.close-btn {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}