.topnav {
  width: 100%;
  padding: 1rem;
}

.topnav-profile, .topnav-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  background-color: #030303;
  color: #fff;
  float: right;
}

.topnav-profile {
  margin-right: 1rem;
}

.topnav-profile-icon {
  padding-right: 0.5rem;
}

.topnav-btn a {
  font-weight: bold;
}